@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin-top: 4rem;
  text-align: center;
  background-color: #3f3f3f;
}


.componentDidmount,
.componentDidUpdate,
.componentWillUnmount{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem 0;
  color: white;
}

.componentDidmount{
  border: solid 2px tomato;
}


.componentDidUpdate{
  border: solid 2px purple;
}

.componentWillUnmount{
  border: solid 2px green;
}

button{
  cursor: pointer;
  margin-right: .5rem;
  font-size: 1.5rem;
}